* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

header li {
display: inline;
}

.container {
    display: flex;
    justify-content: space-between; /* alinha os elementos com espaço igual entre eles */
    align-items: center; /* alinha os elementos verticalmente */
  }

.articles {
    display: flex; 
    flex-wrap: wrap;
}

.articles article img {
height: 180px;
}

.articles article {
width: 30%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 30px;
	background-color: #e0d8d8
}

* h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

article {
	
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

h3 {
	color: #333
}


.column {
    flex: 1;
    margin: 0 10px;
}

img {
    max-width: 300px;
    height: 200px;
  }
  .botao0 {
	background-color: #4CAF50; /* Cor de fundo */
	border: none; /* Sem borda */
	color: white; /* Cor do texto */
	padding: 15px 32px; /* Espaçamento interno */
	text-align: center; /* Centraliza o texto */
	text-decoration: none; /* Sem sublinhado */
	display: inline-block; /* Exibe o botão como um bloco em linha */
	font-size: 16px; /* Tamanho da fonte */
	margin: 4px 2px; /* Espaçamento externo */
	cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
  }

  .botao1 {
	background-color: #4417be; /* Cor de fundo */
	border: none; /* Sem borda */
	color: white; /* Cor do texto */
	padding: 15px 32px; /* Espaçamento interno */
	text-align: center; /* Centraliza o texto */
	text-decoration: none; /* Sem sublinhado */
	display: inline-block; /* Exibe o botão como um bloco em linha */
	font-size: 16px; /* Tamanho da fonte */
	margin: 4px 2px; /* Espaçamento externo */
	cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
  }
  
  .botao2 {
	background-color: #be3188; /* Cor de fundo */
	border: none; /* Sem borda */
	color: white; /* Cor do texto */
	padding: 15px 32px; /* Espaçamento interno */
	text-align: center; /* Centraliza o texto */
	text-decoration: none; /* Sem sublinhado */
	display: inline-block; /* Exibe o botão como um bloco em linha */
	font-size: 16px; /* Tamanho da fonte */
	margin: 4px 2px; /* Espaçamento externo */
	cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
  }
  
  .botao3 {
	background-color: #a38914; /* Cor de fundo */
	border: none; /* Sem borda */
	color: white; /* Cor do texto */
	padding: 15px 32px; /* Espaçamento interno */
	text-align: center; /* Centraliza o texto */
	text-decoration: none; /* Sem sublinhado */
	display: inline-block; /* Exibe o botão como um bloco em linha */
	font-size: 16px; /* Tamanho da fonte */
	margin: 4px 2px; /* Espaçamento externo */
	cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
  }